.jumbotron {
    background-color: #333333;
    color: white;
    margin-top: 50px;
}

.footer {
    padding: 10px 10px 0 10px;
    background-color: #333333;
    color: white;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-sistema {
   flex: 1 200px;
   margin-top: 10px;
}

.btn-info {
    width: 100%;
    border-radius: 0;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}

.iframe-container {
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-top: 56.25%;
    position: relative;
}
  
.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
  }
  